.container {
  max-height: 100vh;
  overflow: auto;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 13vh;
  width: 90%;
  margin: 120px auto;
}
.datatable_table {
  border-collapse: collapse;
  overflow: auto;
}
.datatable_table_th {
  // width: 300px;
  height: 44px;
  border: 2px solid #eef0f5;
  background-color: #f5f8fa;
  .datatable_table_th_container {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    height: 44px;
    z-index: 2;
    cursor: grab;
    .datatable_table_th_img {
      height: 18px;
      width: 18px;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s;
    }
    &:hover .datatable_table_th_img {
      visibility: visible;
      opacity: 1;
    }
    .datatable_table_th_header_text {
      color: #716f88;
      font-weight: 600;
      font-size: 14px;
      text-align: left;
      margin-left: 5px;
    }
  }
  &:hover {
    background-color: #e5f5f8;
  }
}
.datatable_table_td {
  font-size: 14px;
  text-align: left;
  height: 2.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #f5f8fa;
  width: 400px;
}
table {
  table-layout: fixed;
}
th,
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}
